[submodule "lib/stan_math"]
	path = lib/stan_math
	url = https://github.com/stan-dev/math.git
[submodule "path/to/your/project/glaze"]
	path = path/to/your/project/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "glaze"]
	path = glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "lib/glaze"]
	path = lib/glaze
	url = https://github.com/stephenberry/glaze.git
